.ea-btn {
    all: unset;
    font-size: 12px;
    font-weight: 600;
    padding: 12px 12px;
    border-radius: 12px;
    cursor: pointer;
    width: fit-content;

    @media (min-width: 768px) {
        font-size: 16px;
        border-radius: 16px;
        padding: 12px 16px;
    }

    &.primary {
        background-color: var(--btn-primary);
        transition: background-color 0.1s ease, color 0.1s ease;

        &:hover {
            color: black;
            background-color: white;
        }
    }

    &.no-bg {
        background: transparent;
    }

    &.small {
        padding: 12px 16px;
        font-size: 14px;
    }
}

.social-btn {
    display: block;
    height: 36px;
    width: 36px;
    border: 1px solid var(--dashed-border-color);
    border-radius: 12px;
    font-size: 20px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover {
        background: white;
        color: black;
        border: 1px solid transparent;
    }
}

.contact-btn-desktop {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}