footer {
    display: flex;
    justify-content: space-between;
    padding: 0 calc(50vw - 684px);
    height: 64px;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: var(--bg-color);
    border-top: 1px dashed var(--dashed-border-color);

    p {
        font-size: 14px;
        font-weight: 600;
        color: white;
    }
}