header {
    padding: 0 2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem dashed var(--dashed-border-color);
    position: fixed;
    top: 0;
    width: 100%;
    /* background: #0a0a0ae8; */
    background-color: var(--bg-color);
    /* backdrop-filter: blur(64px); */
    z-index: 2;
    transition: transform 0.2s ease;
    view-transition-name: header;

    .container {
        display: flex;
        width: 50%;

        &.left {
            img {
                height: 2rem;
                width: 2rem;
            }
        }

        &.center {
            justify-content: center;
        }

        &.right {
            justify-content: flex-end;
        }

        @media (min-width: 768px) {
            width: 33.33%;
        }
    }
    
    &.scrolled {
        transform: translateY(-4rem)
    }

    @media (min-width: 768px) {
        padding: 0 calc(50vw - 42.75rem);
        transition: transform 0.4s ease;
    }

    .desktop-nav-container {
        display: none;
        
        @media (min-width: 768px) {
            display: block;
        }

        nav {
            display: flex;
            gap: 2rem;
        }
    }

    button {
        all: unset;
        height: 2rem;
        width: 2rem;
        position: relative;
        touch-action: manipulation;
    
        &::after, &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 0.125rem;
            background: white;
            transition: all 0.2s ease;
            transform-origin: center center;
            translate: 0 0.75rem;
        }
    
        &::before {
            top: 100%;
            /* bottom: 33%; */
            translate: 0 -0.75rem;

        }
    
        &.toggled {
            &::after {
                rotate: -45deg;
                translate: 0 1rem;
            }
            
            &::before {
                rotate: 45deg;
                translate: 0 -1rem;
            }
        }

        @media (min-width: 768px) {
            display: none;
        }
    }
}

/* mobile "modal" */
.mobile-nav {
    transform: translateX(100vw);
    width: 100%;
    height: calc(100dvh - 4rem);
    background: var(--bg-color);
    position: fixed;
    top: 4rem;
    left: 0;
    z-index: 1;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    @media (min-width: 768px) {
        display: none;
    }

    .mobile-nav-link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2rem;

        a {
            text-align: center;
            color: var(--text-accent);
            
            &.active {
                color: white;
            }
        }
    }

    .button-and-social-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        button {
            width: fit-content;
        }

        .social-links {
            display: flex;
            gap: 0.5rem;
        }
    }

    .bottom-line {
        width: 100%;
        height: 0;
        position: fixed;
        bottom: 4rem;
        border-bottom: 1px dashed var(--dashed-border-color);
    }

    &.open {
        transform: translateX(0)
    }
}