main {
    margin-top: 64px;
    position: relative;
    
    @media (min-width: 768px) {
        &::before {
            height: calc(100vh + 64px);
            width: 0;
            border-left: 1px dashed var(--dashed-border-color);
            content: "";
            left: calc(50vw - 600px);
            top: -64px;
            position: fixed;
        }

        &::after {
            height: calc(100vh + 64px);
            width: 0;
            border-left: 1px dashed var(--dashed-border-color);
            content: "";
            right: calc(50vw - 600px);
            top: -64px;
            position: fixed;
        }
    }
}

section {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;

    &.hero {
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;        

        @media (min-width: 768px) {
            height: 512px;
            gap: 44px;
        }

        h1 {
            text-align: center;
            text-wrap: pretty;
            
            @media (min-width: 768px) {
                max-width: 756px;
            }
        }
        
        .button-and-social-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;

            .social-links {
                display: flex;
                gap: 8px;
            }
        }
    }

    &.portfolio {
        display: flex;
        flex-direction: column;
        gap: 32px;
        border-top: 1px dashed var(--dashed-border-color);
        padding-top: 32px;
        padding-bottom: 32px;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .portfolio-column {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 100%;

            @media (min-width: 768px) {
                display: flex;
                flex-direction: column;
                gap: 32px;
                width: 33%;
            }
        }

        article {
            display: flex;
            flex-direction: column;
            gap: 12px;
            
            .portfolio-item-image-container {
                width: 100%;
                height: 12rem;
                background: var(--btn-primary);
                border-radius: 16px;
                
            }

            .text-container {
                display: flex;
                justify-content: space-between;
                padding: 0 8px;
            }
        }
    }
}