@import './fonts.css';
@import './variables.css';
@import './typography.css';
@import './layout.css';
@import './header.css';
@import './footer.css';
@import './buttons.css';
@import './animations.css';
@import './ea-grid.css';
@import './utilities.css';

/* secret rem scaling tech */
/* html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;

    @media (min-width: 1920px) {
        font-size: 16px;
    }

    @media (max-width: 1250px) {
        font-size: 1.28vw;
    }

    @media (max-width: 600px) {
        font-size: 16px;
    }
} */

html {
    background: var(--bg-color);
}

body {
    font-family: "Inter Display";
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: white;
    position: relative;
    /* animation: blur 0.675s ease-in-out; */

    &::-webkit-scrollbar {
        display: none;
    }

    /* &::before {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        background: rgba(10, 10, 10, 0.01);
        content: "";
        animation: blur 0.675s ease-in-out forwards;
        backdrop-filter: blur(16px);
        pointer-events: none;
    } */
}

.mobile-nav-open {
    overflow: hidden;
}

*, *::after, *::before {
    box-sizing: border-box;
}