/* reset */
h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

/* headings */
h1,.h1 {
    font-size: 24px;
    font-weight: 600;

    @media (min-width: 768px) {
        font-size: 28px;
    }
}

h2,.h2 {
    font-size: 16px;
    font-weight: 600;
}

h3,.h3 {

}

h4,.h4 {

}

h5,.h5 {

}

h6,.h6 {

}

/* body text */
p {

    &.portfolio-item-date-text {
        font-size: 11px;
        font-weight: 600;
        color: var(--text-accent);
    }
}

span {
    &.accent-text {
        color: var(--text-accent);
    }
}

a {
    text-decoration: none;
    color: inherit;

    &.desktop-nav-link {
        font-size: 14px;
        font-weight: 600;
        color: var(--text-accent);
        position: relative;
        transition: 0.2s ease;

        &:hover {
            color: white;
        }

        &.active {
            color: white;
            
            &::after {
                content: "";
                position: absolute;
                bottom: -4px;
                height: 2px;
                width: 2px;
                left: calc(50% - 1px);
                border-radius: 100%;
                background-color: white;
            }
        }
    }
}